= javascript_include_tag "http://www.google.com/jsapi", "jquery-1.5.1.min"
= stylesheet_link_tag 'scaffold'
:javascript
  google.load('search', '1', {language : 'en', style : google.loader.themes.SHINY});
  google.setOnLoadCallback(function() {
  var customSearchControl = new google.search.CustomSearchControl('010846430575534959222:u2zg2hvq8pi');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  customSearchControl.draw('cse');
  }, true);

%div#cse{:style => "float: left;width: 100%;"}
  Loading