%h2.welcome-title TIBCO Product Documentation

%p.welcome-para
  Welcome to TIBCO's Product Documentation site!
  <br/>
  Here you will find user manuals, readmes, and release notes for the latest releases
  of TIBCO products.

%p.welcome-para
  We welcome your comments:
  = link_to "Contact the Technical Communication Team", "mailto:tibcommunity-docs@tibco.com", :class => 'contact-us-link'