#main-content
  %h2 Document for #{@document.product.name.gsub("速".force_encoding('utf-8'),"<sup>速</sup>").gsub('&reg;',"<sup>速</sup>").gsub("&REG;","<sup>速</sup>").gsub('&reg',"&amp;reg").gsub('&REG',"&amp;REG").html_safe}
  = render 'form'